fastapi
uvicorn[standard]
python-multipart
pandas
numpy
matplotlib
seaborn
networkx
requests
python-dotenv
beautifulsoup4
lxml
pillow
openpyxl
pyarrow
tabulate
html5lib
duckdb
pytesseract
playwright

langchain==0.3.27
langchain-google-genai==2.0.8
google-generativeai==0.8.5



